{% extends 'base.html' %}
{% block content %}
    <section>
        <main class="mt-5 mb-5">
            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card p-3 h-100 card-soft-primary">
                                <div class="profile-card-body">
                                    <div>
                                        {% for quiz in quizzes %}
                                            <div class="message-card card-soft-primary mt-4">
                                                <div class="card-body px-4">
                                                    <span class="text-end">{{ quiz.published }}</span>
                                                    <h6 class="fs--1 text-400 py-3">{{ quiz.name }}</h6>
                                                    <div class="text-center mb-3">
                                                        <a href="{% url 'testing:display_quiz' quiz.name %}"
                                                           class="btn btn-primary rounded-pill btn-sm">Пройти</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="my-4">{% include 'pagination.html' with queryset=quizzes custom_range=custom_range %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
{% endblock %}
