{% extends "base.html" %}
{% block content %}

  {% if not user.is_authenticated %}
  <h5>Личный кабинет обучающегося </h5>
  {% else %}
  {% comment %} Авторизованный Результаты обучения {% endcomment %}
  
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          {% comment %} <h5 class="card-title">Личный кабинет</h5> {% endcomment %}
          <p class="card-text">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</p>
          {% comment %} <a href="#" class="btn btn-primary">Перейти куда-нибудь</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Пройденной обучение</h4>
          <h5 class="card-title">Обучение по охране труда</h5>
          <p class="card-text">Телефон отдела обучения по охране труда +7 (8422) 46-16-44</p>
          <a class="btn btn-primary" href="{% url 'eisot:list' %}">Выписка из реестра ЕИСОТ</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  
  <p>
    {% comment %} Результаты обучения {% endcomment %}
  </p>
{% endblock content %}
